.header {
    height: 4rem;
    border-bottom: 1px solid rgb(236, 239, 241);
    display: flex;
    align-items: center;
    padding: 0 .8rem;
    user-select: none; 
    justify-content: space-between;
}
.izquierda{
    display: flex;
    align-items: center;
}
.logo {
    margin-left: .3rem;
}
.tres {
    height: 3rem;
    width: fit-content;
    border-radius: 50%;
    color:#181818;
    padding: .7rem;
    cursor: pointer;
}
.tres:hover {
    background-color: rgb(223, 223, 223) ;
}
.user_image_div{
    margin-right: .5rem;

    display: flex;
    align-items: center;
}
.user_image_img{
    border-radius: 50%;
    height: 2.1rem;
}